/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #409EFF;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

//table
.el-table {
  font-size: 16px;
}
//table行鼠标悬浮颜色
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #e6f7ff;
}
//table边框颜色
.el-table th.is-leaf, .el-table td {
  border-bottom: 1px solid #d6d9e0;
}
.el-table--border th, .el-table--border td {
  border-right: 1px solid #d6d9e0;
}
.el-table--group, .el-table--border {
  border: 1px solid #d6d9e0;
  border-right: none;
  border-bottom: none;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.el-table--group::after, .el-table--border::after, .el-table::before {
  content: '';
  position: absolute;
  background-color: #d6d9e0;
  z-index: 1;
}
